.user-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    padding: 40px;
    width: 98vw;
    max-width: 10000px;
    height: 80%;
    min-height: 88vh;
    margin: 80px auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    margin-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 10px 20px;
    border-radius: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-name {
    color: #ffffff; /* White text for contrast against the gradient */
    font-size: 1.5rem;
    font-weight: bold;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    gap: 5px;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.app-name {
    color: #030303;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.greeting {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.posts-container {
    margin-top: 20px; 
    max-height: 60vh; 
    overflow-y: auto; 
    width: 100%;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 2rem;
    color: #222;
}

.post p {
    margin: 5px 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
}

.create-post-button,
.edit-post-button,
.delete-post-button {
    background-color: #da8358;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 60px;
    text-align: center;
}
