.user-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    padding: 40px;
    width: 98vw;
    max-width: 10000px;
    height: 150px;
    min-height: 88vh;
    margin: 60px auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    
}

/* .menu-container {
    color: #030303;
    font-size: 1.5rem;
    font-weight: bold;
    
} */

.greeting {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.menu-container {
    position: fixed;
    top: 10px;
    right: 20px; 
    z-index: 800;
}

.app-name {
    color: #030303;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    left: 0;
    padding: 0 20px;
}

.create-post-button {
    background-color: #da8358;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.logout-button,
.update-button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover,
.update-button:hover {
    background-color: #0056b3;
}

.posts-container {
    margin-top: 60px; 
    max-height: 60vh; 
    overflow-y: auto; 
    width: 100%;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post h3 {
    margin-top: 0;
}

.post p {
    margin: 5px 0;
}
